* {
  margin: 0;
  padding: 0;
}

.Login {
  font-family: KohinoorBangla-Semibold;
  text-align: center;
  background-color: #3C4E5C;
  background-image: url("./pages/bg.jpg");
  background-size:cover;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  min-width: 10vw;
  max-width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 20vw;
  color: white!important;
}

.makeStyles-input-10 {
  color: white!important;
}

.makeStyles-underline-1:after {
  border-color: var(--white)!important;
}
.makeStyles-underline-2:after {
  border-color: white !important;
}


.makeStyles-button-12:hover, .makeStyles-button-12:focus {
  box-shadow: none!important;
}
.form .form__custom-button {
  margin-top: 50px;
}


.MuiInputBase-input {
  color: white!important;
}

.MuiFormLabel-root {
  color: #96bbd6!important;
}

.makeStyles-container-3{
  background-color: #3C4E5C;
}

.MuiPaper-root {
  background-color:#3C4E5C!important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4); 
}

.MuiPaper-elevation1 {
  box-shadow: none!important;
}

body {
  background-color: #1E1E1E!important;
  font-family: KohinoorBangla-Semibold!important;
}

.css-1xa7wra-MuiTypography-root {
  font-family: KohinoorBangla-Semibold!important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  font-family: KohinoorBangla-Semibold!important;
}

.css-z7vy94-MuiTypography-root {
  font-size: 20px!important;
}

.css-1xa7wra-MuiTypography-root {
  font-size: 20px!important;
}

.css-17ga7yb-MuiTypography-root {
  font-size: 20px!important;
}

.MiniDrawer-content-12 {
  padding: 0rem!important;
}

.tabs {
  background-color: #1E1E1E!important;
  color:#3C4E5C!important;
}

element.style {
  background:#1E1E1E!important;
}

.content {
  background:#1E1E1E!important;
}

.css-1getg8n-MuiDataGrid-root {
  background:#1E1E1E!important;
}

#profileCard :hover{
  background-color: #486f8d!important;
}

.makeStyles-paper-14 {
  height: 101.5vh!important;
  max-width: 90vw!important;
}